[Unit]
Description=Dynamic Host Configuration Protocol (DHCP)
After=syslog.target
Wants=network.target
Before=network.target

[Service]
Type=forking
PIDFile=/var/run/dhclient.pid
ExecStart=/sbin/dhclient -4 -q enp0s3 

[Install]
WantedBy=multi-user.target

